.DS_Store
.venv/
__pycache__/
*.pyc
.cache/
data/raw/kursh_dw_lulc/*
!data/raw/kursh_dw_lulc/.gitkeep
data/raw/kursh_fields/*
!data/raw/kursh_fields/.gitkeep
data/raw/kursh_vectors/*
!data/raw/kursh_vectors/.gitkeep
data/processed/*
!data/processed/.gitkeep
figures/*
!figures/.gitkeep
tables/*
!tables/.gitkeep
rasters/*
!rasters/.gitkeep
